.archive {
    .byline {
        font-family: @font-header;
        color: @black;
        font-size: 18px;
        letter-spacing: 0.9px;
        line-height: 2rem;
        .byline-date {
            margin-right: 0.5rem;
        }
        .by-author {
            margin: 0 0.5rem;
        }
        .edit-link {
            display: none;
        }
    }
}