body #site-header {
    text-align: center;
    margin: @measure + 1rem 0;
    .header_img {
        max-width: 900px;
        width: 100%;
    }
    @media (max-width: 782px) {
        margin: 1rem 0;
    }
}