.single {
    article {
        header {
            margin: 0 0 @measure * 2!important;
            text-align: center;
            .entry-title {
                font-size: 70px;
                line-height: 5rem;
                margin-bottom: @measure;
                padding-top: 0!important;
            }
            .subtitle {
                color: @orange;
                font-family: @font-body;
                font-size: 24px;
                line-height: 2.3rem;
                margin-bottom: @measure;
            }
            @media (max-width: 769px) {
                .entry-title {
                    font-size: 40px;
                    line-height: 3rem;
                }
                .subtitle {
                    font-size: 19px;
                    line-height: 2rem;
                }
            }
        }
        .hero {
            background: transparent;
            margin-bottom: @measure * 2;
            .wp-caption-text {
                display: none;
            }
        }
        .article-content-area {
            margin-left: 0;
            @media (max-width: 769px) {
                width: 100%;
            }
        }
        .byline {
            font-family: @font-header;
            color: @black;
            font-size: 18px;
            letter-spacing: 0.9px;
            line-height: 2rem;
            margin-bottom: @measure + 0.5rem;
            .byline-date {
                margin-right: 1rem;
            }
            .by-author {
                margin: 0 1rem;
            }
            .job-title {
                display: none;
            }
            .edit-link {
                display: none;
            }
            .largo-follow {
                display: inline-block;
                margin: 0 1rem;
                span:not(.popover){
                    background: transparent;
                    a {
                        font-size: initial;
                        padding: 0;
                        margin: 0 20px 0 0!important;
                        i {
                            color: white;
                            width: 34px;
                            height: 34px;
                            border-radius: 50%;
                            border: 1px solid @orange;
                            background: @orange;
                            text-align: center;
                            line-height: 34px;
                            vertical-align: middle;
                            padding: 6.5px 7.5px;
                            margin-right: 0;
                            margin-left: 0;
                            &:hover {
                                color: @white;
                                background: @black;
                                border: 1px solid @black;
                            }
                            &::before {
                                margin-right: 0;
                            }
                        }
                        .hidden-phone {
                            display: none;
                        }
                    }
                }
                span.popover {
                    ul {
                        li {
                            margin-bottom: 1rem;
                            a {
                                i {
                                    width: 15px;
                                    height: 15px;
                                    line-height: 15px;
                                }
                                span {
                                    margin-left: @measure * 2;
                                }
                            }
                        }
                    }
                }
            }
            @media (max-width: 769px) {
                margin-bottom: 0;
                .sep {
                    &:last-of-type {
                        display: none;
                    }
                }
                .largo-follow {
                    margin: @measure 0;
                    display: block;
                }
            }
        }
        .sidebar-content-area {
            #sidebar {
                width: 100%;
                .sfpublicpress-podcasts {
                    ul {
                        display: block;
                        li {
                            border-bottom: 1px solid @light-gray;
                            border-right: 0;
                            margin-bottom: @measure;
                        }
                    }
                }

            }
            @media (max-width: 769px) {
                display: none;
            }
        }
    }
    .article-bottom {
        clear: both;
    }
    @media (max-width: 900px) {
        &.classic {
            .byline {
                margin-bottom: 0;
                .sep {
                    &:last-of-type {
                        display: none;
                    }
                }
                .largo-follow {
                    margin: @measure 0;
                    display: block;
                }
            }
        }
    }
}