// Colors
@white: #fff;
@black: #000;
@dark-gray: #3D3D40;
@gray: #534B47;
@orange: #F57A1F;
@orange-2: #EA6E13;
@dark-orange: #B85A14;
@blue: #80BFEB;
@green: #53B99D;
@dark-green: #478070;

@color-heading: @black;
@color-body: @gray;

// copied from Largo for ease
@navbarHeight: 40px;

// Fonts
@font-body: miller-text, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-header: league-gothic, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-footer: gill-sans-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;

// this determines a lot of things regarding homepage and top term spacing
@measure: 1.5rem;